@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');


html{
    padding: 0;
    margin: 0;
    background-color: #3a3838;
    min-height: max-content;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drum{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    min-width: 100vw;
    min-height: 50vh;
}

.btn{
    display: flex;
    justify-content: center;
    align-self: center  ;
    color: whitesmoke;
    min-width: 1rem;
    min-height: 1rem;
    padding: 1rem;
    margin: 1rem;
    border: #000000 solid 3px;
    border-radius: 5px;
}


h1{
    color: whitesmoke;
    margin: 1rem;
    padding: 1rem;
    font-weight: bold;
   

}


